html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Esto para que 1rem = 10px */
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* GLOBALES */
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a { text-decoration: none; }
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

/* UTILIDADES */
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-center { text-align: center; }

/* ALERTA */
.alerta {
    background-color: rgb(223, 146, 146);
    color: rgb(146, 33, 33);
    border: 1px solid rgb(255, 17, 17);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    width: 35rem;
    text-align: center;
    padding: .5rem;
    margin-bottom: 3rem;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    height: 18rem;
}
header > img {
    padding-left: 3rem;
}
header > nav > a {
    padding: 2rem;
    margin-right: 3rem;
    font-weight: 600;
    color: #000;
}

#services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}
.service {
    text-align: center;
    background-color: rgb(236, 193, 136);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 2px 1px rgba(161, 142, 142, 0.418);
}
.container__address {
    display: flex;
    gap: 5;
    align-items: center;
    justify-content: center;
}
.container__address > p {
    margin-left: 5rem;
}

#map {
    width: 50%;
    height: 25rem;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: blanchedalmond;
    height: 18rem;
}
.footer > p {
    font-weight: 600;
    padding-top: 8rem;
}

/* CONTACTO */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.formulario > form {
    background-color: #ffff;
    box-shadow: 5px 5px 2px 1px rgba(161, 142, 142, 0.418);
    padding: 5rem;
    border-radius: 1rem;
}

.campo__form {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.campo__form > label {
    font-weight: 600;
}
.campo__form > input {
    width: 30rem;
    height: 4rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgb(192, 197, 148);
    border-radius: 1rem;
    text-transform: uppercase;
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: rgb(212, 193, 158);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid rgb(192, 197, 148);
    border-radius: 1rem;
}
input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(224, 193, 135);
}